In [1]:
import pandas as pd
import json
import requests
import pprint
from datetime import date, timedelta

### 1. Downloading data for the whole year for the city of Olsztyn latitude and longitude (53.775,  20.479)

#### Step 1. Getting data for a specific date to understand the data structure

In [2]:
# defining variables:
lat = 53.775
lon = 20.479
date = 2022-11-2

def get_data(lat, lon, date):
    url = f"https://api.sunrise-sunset.org/json?lat={lat}&lng={lon}&date={date}"
    response = requests.get(url)
    
    response = response.json()
    
    pprint.pprint(response) # data is in UTC
    
get_data(lat, lon, date)

{'results': {'astronomical_twilight_begin': '3:40:11 AM',
             'astronomical_twilight_end': '5:03:06 PM',
             'civil_twilight_begin': '5:02:39 AM',
             'civil_twilight_end': '3:40:38 PM',
             'day_length': '09:27:11',
             'nautical_twilight_begin': '4:20:58 AM',
             'nautical_twilight_end': '4:22:19 PM',
             'solar_noon': '10:21:38 AM',
             'sunrise': '5:38:03 AM',
             'sunset': '3:05:14 PM'},
 'status': 'OK'}

#### Steps 2. Getting a list of unique attributes available via API

In [3]:
# defining variables:
lat = 53.775
lon = 20.479
date = 2022-11-2

def get_data(lat, lon, date):
    url = f"https://api.sunrise-sunset.org/json?lat={lat}&lng={lon}&date={date}"
    response = requests.get(url)
    response = response.json()
    
    return response
    
data = get_data(lat, lon, date) # returns dictionary

In [4]:
attributes = data['results']
attributes = [x for x in attributes.keys()] # gets list of the attributes available in 'results'
attributes

['sunrise',
 'sunset',
 'solar_noon',
 'day_length',
 'civil_twilight_begin',
 'civil_twilight_end',
 'nautical_twilight_begin',
 'nautical_twilight_end',
 'astronomical_twilight_begin',
 'astronomical_twilight_end']

#### Steps 3. Generating a list of days in the year 2022 in the format yyyy-mm-dd

In [5]:
# creating a series of dates between given dates 
from datetime import date, timedelta

sdate = date(2022,1,1) #starrt date
edate = date(2023,1,1) # end date
dates = pd.date_range(sdate, edate - timedelta(days=1),freq='d').to_frame()
dates.columns = ['days']
display(dates.head(2))
display(dates.tail(2))

print(dates.shape)

dates['day_string'] = dates['days'].dt.strftime('%Y-%m-%d')
display(dates.head(2))

dates = list(dates['day_string'])
print(dates)

                 days
2022-01-01 2022-01-01
2022-01-02 2022-01-02

                 days
2022-12-30 2022-12-30
2022-12-31 2022-12-31

(365, 1)

                 days  day_string
2022-01-01 2022-01-01  2022-01-01
2022-01-02 2022-01-02  2022-01-02

['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16', '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24', '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28', '2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01', '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-05', '2022-02-06', '2022-02-07', '2022-02-08', '2022-02-09', '2022-02-10', '2022-02-11', '2022-02-12', '2022-02-13', '2022-02-14', '2022-02-15', '2022-02-16', '2022-02-17', '2022-02-18', '2022-02-19', '2022-02-20', '2022-02-21', '2022-02-22', '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26', '2022-02-27', '2022-02-28', '2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04', '2022-03-05', '2022-03-06', '2022-03-07', '2022-03-08', '2022-03-09', '2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13', '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17', '2022-03-18', '2022-03-19', '2022-03-20', '2022-03-21', '2022-03-22', '2022-03-23', '2022-03-24', '2022-03-25', '2022-03-26', '2022-03-27', '2022-03-28', '2022-03-29', '2022-03-30', '2022-03-31', '2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04', '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08', '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12', '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16', '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20', '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24', '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28', '2022-04-29', '2022-04-30', '2022-05-01', '2022-05-02', '2022-05-03', '2022-05-04', '2022-05-05', '2022-05-06', '2022-05-07', '2022-05-08', '2022-05-09', '2022-05-10', '2022-05-11', '2022-05-12', '2022-05-13', '2022-05-14', '2022-05-15', '2022-05-16', '2022-05-17', '2022-05-18', '2022-05-19', '2022-05-20', '2022-05-21', '2022-05-22', '2022-05-23', '2022-05-24', '2022-05-25', '2022-05-26', '2022-05-27', '2022-05-28', '2022-05-29', '2022-05-30', '2022-05-31', '2022-06-01', '2022-06-02', '2022-06-03', '2022-06-04', '2022-06-05', '2022-06-06', '2022-06-07', '2022-06-08', '2022-06-09', '2022-06-10', '2022-06-11', '2022-06-12', '2022-06-13', '2022-06-14', '2022-06-15', '2022-06-16', '2022-06-17', '2022-06-18', '2022-06-19', '2022-06-20', '2022-06-21', '2022-06-22', '2022-06-23', '2022-06-24', '2022-06-25', '2022-06-26', '2022-06-27', '2022-06-28', '2022-06-29', '2022-06-30', '2022-07-01', '2022-07-02', '2022-07-03', '2022-07-04', '2022-07-05', '2022-07-06', '2022-07-07', '2022-07-08', '2022-07-09', '2022-07-10', '2022-07-11', '2022-07-12', '2022-07-13', '2022-07-14', '2022-07-15', '2022-07-16', '2022-07-17', '2022-07-18', '2022-07-19', '2022-07-20', '2022-07-21', '2022-07-22', '2022-07-23', '2022-07-24', '2022-07-25', '2022-07-26', '2022-07-27', '2022-07-28', '2022-07-29', '2022-07-30', '2022-07-31', '2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04', '2022-08-05', '2022-08-06', '2022-08-07', '2022-08-08', '2022-08-09', '2022-08-10', '2022-08-11', '2022-08-12', '2022-08-13', '2022-08-14', '2022-08-15', '2022-08-16', '2022-08-17', '2022-08-18', '2022-08-19', '2022-08-20', '2022-08-21', '2022-08-22', '2022-08-23', '2022-08-24', '2022-08-25', '2022-08-26', '2022-08-27', '2022-08-28', '2022-08-29', '2022-08-30', '2022-08-31', '2022-09-01', '2022-09-02', '2022-09-03', '2022-09-04', '2022-09-05', '2022-09-06', '2022-09-07', '2022-09-08', '2022-09-09', '2022-09-10', '2022-09-11', '2022-09-12', '2022-09-13', '2022-09-14', '2022-09-15', '2022-09-16', '2022-09-17', '2022-09-18', '2022-09-19', '2022-09-20', '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24', '2022-09-25', '2022-09-26', '2022-09-27', '2022-09-28', '2022-09-29', '2022-09-30', '2022-10-01', '2022-10-02', '2022-10-03', '2022-10-04', '2022-10-05', '2022-10-06', '2022-10-07', '2022-10-08', '2022-10-09', '2022-10-10', '2022-10-11', '2022-10-12', '2022-10-13', '2022-10-14', '2022-10-15', '2022-10-16', '2022-10-17', '2022-10-18', '2022-10-19', '2022-10-20', '2022-10-21', '2022-10-22', '2022-10-23', '2022-10-24', '2022-10-25', '2022-10-26', '2022-10-27', '2022-10-28', '2022-10-29', '2022-10-30', '2022-10-31', '2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04', '2022-11-05', '2022-11-06', '2022-11-07', '2022-11-08', '2022-11-09', '2022-11-10', '2022-11-11', '2022-11-12', '2022-11-13', '2022-11-14', '2022-11-15', '2022-11-16', '2022-11-17', '2022-11-18', '2022-11-19', '2022-11-20', '2022-11-21', '2022-11-22', '2022-11-23', '2022-11-24', '2022-11-25', '2022-11-26', '2022-11-27', '2022-11-28', '2022-11-29', '2022-11-30', '2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04', '2022-12-05', '2022-12-06', '2022-12-07', '2022-12-08', '2022-12-09', '2022-12-10', '2022-12-11', '2022-12-12', '2022-12-13', '2022-12-14', '2022-12-15', '2022-12-16', '2022-12-17', '2022-12-18', '2022-12-19', '2022-12-20', '2022-12-21', '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25', '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29', '2022-12-30', '2022-12-31']

### 2. Saving downloaded data as a Pandas dataframe

#### 1. Creating a new dataframe that will be able to store data requested through API

In [6]:
data = {i:[] for i in attributes} # generating a dictionary with a key:[]
data['date'] = []
df = pd.DataFrame(data) # generating a new dataframe
df.head()

Empty DataFrame
Columns: [sunrise, sunset, solar_noon, day_length, civil_twilight_begin, civil_twilight_end, nautical_twilight_begin, nautical_twilight_end, astronomical_twilight_begin, astronomical_twilight_end, date]
Index: []

#### 2. Saving data to the dataframe downloaded for each day

In [10]:
dates = dates[176:]

In [11]:
# defining variables:
lat = 53.775
lon = 20.479


def get_data(lat, lon, date):
    url = f"https://api.sunrise-sunset.org/json?lat={lat}&lng={lon}&date={date}"
    response = requests.get(url)
    response = response.json()
    return response

for date in dates:
    print(date, end='...')
    response = get_data(lat, lon, date)
    df.loc[len(df.index)] = [x for x in response['results'].values()] + [date]# saving the API response as a new row
    df.to_csv('sunrise_API_data.csv')
    
    
display(df.head(5))

2022-06-26...2022-06-27...2022-06-28...2022-06-29...2022-06-30...2022-07-01...2022-07-02...2022-07-03...2022-07-04...2022-07-05...2022-07-06...2022-07-07...2022-07-08...2022-07-09...2022-07-10...2022-07-11...2022-07-12...2022-07-13...2022-07-14...2022-07-15...2022-07-16...2022-07-17...2022-07-18...2022-07-19...2022-07-20...2022-07-21...2022-07-22...2022-07-23...2022-07-24...2022-07-25...2022-07-26...2022-07-27...2022-07-28...2022-07-29...2022-07-30...2022-07-31...2022-08-01...2022-08-02...2022-08-03...2022-08-04...2022-08-05...2022-08-06...2022-08-07...2022-08-08...2022-08-09...2022-08-10...2022-08-11...2022-08-12...2022-08-13...2022-08-14...2022-08-15...2022-08-16...2022-08-17...2022-08-18...2022-08-19...2022-08-20...2022-08-21...2022-08-22...2022-08-23...2022-08-24...2022-08-25...2022-08-26...2022-08-27...2022-08-28...2022-08-29...2022-08-30...2022-08-31...2022-09-01...2022-09-02...2022-09-03...2022-09-04...2022-09-05...2022-09-06...2022-09-07...2022-09-08...2022-09-09...2022-09-10...2022-09-11...2022-09-12...2022-09-13...2022-09-14...2022-09-15...2022-09-16...2022-09-17...2022-09-18...2022-09-19...2022-09-20...2022-09-21...2022-09-22...2022-09-23...2022-09-24...2022-09-25...2022-09-26...2022-09-27...2022-09-28...2022-09-29...2022-09-30...2022-10-01...2022-10-02...2022-10-03...2022-10-04...2022-10-05...2022-10-06...2022-10-07...2022-10-08...2022-10-09...2022-10-10...2022-10-11...2022-10-12...2022-10-13...2022-10-14...2022-10-15...2022-10-16...2022-10-17...2022-10-18...2022-10-19...2022-10-20...2022-10-21...2022-10-22...2022-10-23...2022-10-24...2022-10-25...2022-10-26...2022-10-27...2022-10-28...2022-10-29...2022-10-30...2022-10-31...2022-11-01...2022-11-02...2022-11-03...2022-11-04...2022-11-05...2022-11-06...2022-11-07...2022-11-08...2022-11-09...2022-11-10...2022-11-11...2022-11-12...2022-11-13...2022-11-14...2022-11-15...2022-11-16...2022-11-17...2022-11-18...2022-11-19...2022-11-20...2022-11-21...2022-11-22...2022-11-23...2022-11-24...2022-11-25...2022-11-26...2022-11-27...2022-11-28...2022-11-29...2022-11-30...2022-12-01...2022-12-02...2022-12-03...2022-12-04...2022-12-05...2022-12-06...2022-12-07...2022-12-08...2022-12-09...2022-12-10...2022-12-11...2022-12-12...2022-12-13...2022-12-14...2022-12-15...2022-12-16...2022-12-17...2022-12-18...2022-12-19...2022-12-20...2022-12-21...2022-12-22...2022-12-23...2022-12-24...2022-12-25...2022-12-26...2022-12-27...2022-12-28...2022-12-29...2022-12-30...2022-12-31...

,sunrise,sunset,solar_noon,day_length,civil_twilight_begin,civil_twilight_end,nautical_twilight_begin,nautical_twilight_end,astronomical_twilight_begin,astronomical_twilight_end,date
0,6:53:18 AM,2:29:56 PM,10:41:37 AM,07:36:38,6:12:38 AM,3:10:36 PM,5:27:00 AM,3:56:13 PM,4:44:07 AM,4:39:07 PM,2022-01-01
1,6:53:06 AM,2:31:04 PM,10:42:05 AM,07:37:58,6:12:31 AM,3:11:39 PM,5:26:57 AM,3:57:13 PM,4:44:06 AM,4:40:04 PM,2022-01-02
2,6:52:50 AM,2:32:15 PM,10:42:33 AM,07:39:25,6:12:21 AM,3:12:44 PM,5:26:51 AM,3:58:14 PM,4:44:03 AM,4:41:03 PM,2022-01-03
3,6:52:31 AM,2:33:29 PM,10:43:00 AM,07:40:58,6:12:08 AM,3:13:52 PM,5:26:42 AM,3:59:18 PM,4:43:56 AM,4:42:04 PM,2022-01-04
4,6:52:08 AM,2:34:46 PM,10:43:27 AM,07:42:38,6:11:51 AM,3:15:03 PM,5:26:30 AM,4:00:24 PM,4:43:47 AM,4:43:07 PM,2022-01-05